@import './theme';

.ingredientcontainer{

    height:14em;
 
    padding-right: 3em;
    display: flex;
    width:80%;
  
    justify-content: center;
    align-items: center;
margin:auto;
}

.circlebigcontainer{
    display: flex;
    width:80%;
 
}
.circlecontainer{
    width:20%;
    margin-left: 8%;
}
.circlecontainer img{
width:130%;
    margin-left: 12%;


  

}

