@import '../../asset/theme.scss';

.ingredientcontainer{

    height:14em;
    display: flex;
    width:65%;
    align-items: center;
    margin:auto;
}

.circlebigcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.circlebigcontainer .circlecontainer{
     width:20%;
    // margin-left: 8%;
}
.circlebigcontainer .circlecontainer img{
     width:70%;
    // margin-left: 12%;


  

}

