@import './theme';

.ingredientcontainer{
    display: flex;
    height:12em;
    justify-content: center;
    align-items: center;
    padding-left: 7em;

}

.circlecontainer img{
    height:4em;
     margin-right: 2em;

}

