@import '../../asset/theme.scss';

.horizonbar{
  margin: auto;

  /*
  .arrowicon2{
    color: $flame;
    padding: 8px 8px;
    border: 1px solid; 
    float: right;
    margin-left: 2%;
    top: 2vh;
  }
  */
  .arrow-link{
    text-decoration: none;
    color: white;
    margin-left: 20%;
  }
  

  .horizon{
    margin-top: 3vw;
    margin-left: 21vw;
    border-bottom: 2px solid $flame;
    width: 55vw;
  }
}

.horizonbar-Two{
  display: flex;
  justify-content: space-evenly;
  margin-top: 10%;
  border-bottom: 2px solid $flame;
  width: 70%;
  position: relative;
  margin-left: 15%;

  p{
    font-size: 14px;
    font-family: $body;
    color: white;
    width: 100%;
    margin-left: 5vw;
  }
  
  .active{
    font-size: 14px;
    font-family: $body;
    color: $flame;
  }
}