@import './theme';

body{
  background-color:  black;
}

.Menu-container{
  background:  transparent;
  width: 100%;
	position: relative;
}

.sidebar-container{
  width: 25%;
  height: 100%;
}

.cart-container{
  width: 25%;
  height: 100%;
  float: right;
}

#header_cart{
  position: relative;
  left: 93%;
  top: -42px;
  width: 50px;
}

#menu_icon{
  position: relative;
  left: 1%;
  top: -52px;
  width: 40px;
}

.header {
   width: 100%;
   height: 30px;
   background-color: black;
}

.header h3 {
  position: relative;
  left: 45%;
  top: -10px;
  color: #D94F2B;
  size: 6px;
  font-family: $logo;
  height: 3px;
}

.navbar{
  border: solid 1px white;
  background-color: transparent;
  width: 200px;
  height: 30px;
  margin-left: 10px;
  position: relative;
  top: -40px;
  left: 35px;
  
  p{
    color: white;
    font-size: 12px;
    margin-left: 20px;
    margin-top: -5px;
    font-family: $body;
  }
}

.sidebar ul{
  list-style: none;
  position: relative;
  top: -40px;
  left: 1px;
  line-height: 40px;
  font-size: 15px;
  margin-bottom: 55px;
  font-family: $body;

  li a{
    color: white;
    text-decoration: none;
  }
}
 

.cart{
  float: right;
  position: relative;
  bottom: 950px; 
  right: 5%;
  font-family: $body;
  

  p{
      color: white;
      font-size: 10px;
      font-family: $body;
      position: relative;
      top: -15px;
    }

  span{
    color: $flame;
  }

  h2{
    color:#FDBC2C;
    position: relative;
    top: 2px;
    left: -30px;
  }

  ul{
    list-style: none;
    position: relative; 
  }

  h4{
    color: #FDBC2C;
    position: relative;
    top: -10px;
  }

  h3{
    color: #D94F2B;
  }

  span{
    margin-left: 5px;
  }

  .viewCart-btn{
    border: solid 1px #FDBC2C;
    background-color: black;
    font-size: 9px;
    padding: 7px 10px 7px 2px;
    width: 200px;
    margin-bottom: 7px;
  }
  
  
  .checkout-btn{
    border: solid 1px #FDBC2C;
    background-color: #FDBC2C;
    font-size: 9px;
    padding: 7px 10px 7px 2px;
    width: 200px;
  }

  .ordered1{
    position: relative;
    right: 60px;
    top: 20px;
    display: flex;
  
    .dot {
      height: 50px;
      width: 50px;
      background-color: #D94F2B;
      border-radius: 50%;
      display: inline-block;
      margin-right: 5px;
      p{
        position: relative;
        right: 17px;
        top: -4px;
        font-size: 16px;
      }
    }

    .text{
      position: relative;
      right: -10px;
      top: -40px;
    }
  }
}





