@import './theme';
@import '../../asset/theme.scss';
@import '../../asset/mixin.scss';

body{
  background-color: rgba(0, 0, 0, 0.900);
  opacity: 1;
}

.header {
   width: 100%;
   height: 45px;
   margin-top: -15px;
   background-color:  rgba(0, 0, 0, 0.900);

   #header_cart{
    position: relative;
    margin-top: -27px;
    margin-left: 93%; 
    width: 50px;
    display: flex;
    justify-content:  flex-end; 
  }
  
  #menu_icon{
    position: relative;
    margin-left: 1%;
    margin-top: -15px;
    width: 40px;
    display: flex;
    justify-content:  flex-start;   
  }

  h3 {
    position: relative;
    left: 45%;
    top: -2px;
    color: $flame;
    size: 6px;
    font-family: $logo;
    height: 3px;
    display: flex;
  }
}

.arrowicon2{
  margin-left: 0.6em;
  margin-right: 0.6em;
  color: $flame;
  padding: 8px 8px;
  border: 1px solid; 
  float: right;
  position: relative;
  right: 8%;
  top: 12px;
}

.arrowicon3{
  position: relative;
  left: -2px;
  top: 4px;
}

.horizon{
  margin-top: 3vw;
  margin-left: 15vw;
  border-bottom: 2px solid $flame;
  width: 47vw;
}

.horizonbar{
  position: relative;
  top: 10px;
  
  p{
    position: relative;
    top: 20px;
    margin-left: 22%;
    color: white;
    font-size: 10px;
    font-family: $body;
  }
}

.sample_menu{
  display: flex;
  justify-content: center;
  position: relative;
  top: 20px;

    .dot2{
      height: 25vw;
      width: 25vw;
      background-color: $flame;
      border-radius: 50%;
      display: inline-block;
      margin-left:  0px;
      margin-top: 15%;
  }

  .sample_text{
    color: $saffron;
    position: relative;
    left: 70px;

  .clickCount{
    position: relative;
    left: 10px;
  }
  }
}

#available-size{
  width: 25vw;
}

.sample_text{
  h2{
    font-size: 30px;
  }
  h3{
    font-size: 26px;
    color: $flame;
  }
}

.counterButton{
  position: relative;
  left: -7px;
  color: white;
  background-color: rgba(0, 0, 0, 0.900);
  opacity: 1;
  height: 3vw;
  width: 9vw;
  border: 1px solid white;
   
  
  .decButton{
    font-size: 1.3em;
    color: white;
    background-color: rgba(0, 0, 0, 0.900);
    opacity: 1;
    width: 3vw;
    height: 3vw;
    display: inline-block;
    border: 1px solid white;
  }

  .incButton{
    font-size: 1.3em;
    color: white;
    background-color: rgba(0, 0, 0, 0.900);
    opacity: 1;
    width: 3vw;
    height: 3vw;
    display: inline-block;
    border: 1px solid white;
  }

  .count{
    font-size: 1.3em;
    text-align: center;
    width: 3vw;
    height: 3vw;
    display: inline-block;
    color: white;
  }
}

.addButton{
  position: relative;
  left: 135px;
  top: -39px;
  padding: 1vw 4vw;
  background-color: $saffron;
  color: black;
  font-family: $body;
  border: 1px solid $saffron;
  font-size: 0.8em;
}

.horizonbar-Two{
  display: flex;
  justify-content: space-evenly;
  margin-top: 5%;
  border-bottom: 2px solid $flame;
  width: 70%;
  position: relative;
  margin-left: 15%;
  

  p{
    font-size: 14px;
    font-family: $body;
    color: white;
    
  }

  .active{
    font-size: 14px;
    font-family: $body;
    color: $flame;
  }
}

.pizza-review {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-left: 10%;
  margin-top: 3%;
}

.menumain-review{
  width: 100%;
}

.reviewCountainer{
  position: relative;
  margin-left: 5%;
  margin-top: 5%;
  width: 100%;


  h3{
    font-size: 16px;
    font-family: $body;
    color: $saffron;
  }
  span{
    font-size: 14px;
    font-family: $body;
    color: $flame;
  }
  p{
    font-size: 12px;
    font-family: $body;
    color: white;
  }
  .five-starRate{
    margin-left: 38vw;
  }
}

.reviewForm-container{
  margin-right: 5%;
  width: 100%;
  

  h2{
    font-size: 24px;
    font-family: $heading;
    color: $saffron;
    position: relative;
    top: 20px;
    left: 25%;  
    width: 100%;
 }

 .five-starRate{
   width: 100%;
 }

 .review-form{
  position: relative;
  top: 30px;
  left: 25%;

  input{
    padding: 7px 20px;
    color: white;
    background-color: transparent;
    border: 1px solid white;
  }
}

.submit-form{
  position: relative;
  top: 40px;
  left: 25%;
  input{
    padding: 40px 20px;
    color: white;
    background-color: transparent;
    border: 1px solid white;
  }
}

.submit-button{
  position: relative;
  top: 30px;
  left: 25%;
  input{
    padding: 6px 22px;
    background-color: $saffron;
    border: 1px solid $saffron;
  }
}
}

.shoppingCart1{
  position: relative;
  width: 100%;
  left: 18%;
}

.cart-container{
    position: relative;
    top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    

  .cart{
    position: relative;
    top: -4vw;
    margin-left: 2vw;
    font-family: $body;

    ul{
      list-style: none;
      position: relative; 
      margin-left: -3vw;
    }

    .ordered1{
      height: 18vh;
      width: 100%;
      display: flex;
      flex-direction: column;

      .dot {
        height: 6vw;
        width: 6vw;
        background-color: $flame;
        border-radius: 50%;
        display: inline-block;
        position: relative;
        left: -3vw;
        

        p{
          position: relative;
          left: -3vw;
          top: 22%;
        }

      }

      .text{
        width: 100%;
        

        h4{
            position: relative;
            top: -7vw;
            left: 6vw;
            color: $saffron;
            width: 100%;
        }
      
        p{
          color: white;
          font-size: 10px;
          font-family: $body;
          position: relative;
          top: -9vw;
          left: 6vw;
        }
    
        span{
          color: $flame;
        }
    
      
        h2{
          color: $saffron;
          position: relative;
          top: 2px;
          left: -30px;
        }
      
        h3{
          color: $flame;
          width: 100%;
  
        } 

        .total_price{
          display: flex;
          flex-direction: row;
          position: relative;
          top: -12vh;

          span{
            padding: 5px 11px;
            text-align: center;
            color: white;
            font-size: 18px;
            border: 1px solid white;
            background-color: transparent;
            position: relative;
            left: 21vw;
            top: 2vh;
        }
          
          .price{
            position: relative;
            left: 21vw;
            font-family: $body;
            font-size: 18px;
            color: $flame;
          }

          .totalprice{
            position: relative;
            left: 34vw;
            font-family: $body;
            font-size: 18px;
            color: $flame;
          }

        }
    }
  }
}


  .total{
    position: relative;
    top: -10vh;
    left: 34vw;
    font-family: $body;
    padding: 25px 22px;
    background-color: rgba(0, 0, 0, 0.205);
    display: flex;
    flex-direction: column;

    h2{
      color: $saffron;
      position: relative;
      top: -5vh;
      left: 0vw;
    }

    h3{
      color: $flame;
      position: relative;
      top: -3vh;
      left: 0vw;

      span{
        color: $flame;
        margin-left: 3vw;
      }
    }

    p{
      position: relative;
      top: -3vh;
      left: 0vw;
    }

    span{
      color: white;
      text-align: right;
      margin-left: 1vw;
    }


    .viewCart-btn{
      border: solid 1px $saffron;
      background-color: black;
      font-size: 9px;
      padding: 7px 10px 7px 2px;
      width: 200px;
      margin-bottom: 7px;
      position: relative;
      top: -3vh;
      left: 0vw;
    }
    
    
    .checkout-btn{
      border: solid 1px $saffron;
      background-color: $saffron;
      font-size: 9px;
      padding: 7px 10px 7px 2px;
      width: 200px;
      position: relative;
      top: -5.5vh;
      left: 0vw;
    }
  }
}

.shipping_method{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 10%;
 

  .shipping{
    color: $saffron;
    position: relative;
    top: 35vh;
    left: -39vw;
    font-size: 24px;
  }

  .promotion{
    color: $saffron;
    position: relative;
    top: 35vh;
    left: -50vw;
    font-size: 24px;
  }
}

.forms_container{
  height: 100%;
 

  .shipping_form{
    display: flex;
    position: relative;
    left: -55vw;
    top: 48vh;
    height: 4vh;
    border: 1px solid white;
    color: white;
    background-color: transparent;
    
    .selectedValue{

    }
  }

  .current_state{
    position: relative;
    left: -55vw;
    top: 50vh;
    height: 4vh;
    border: 1px solid white;
    color: white;
  }

  .postcode_zip{
    position: relative;
    left: -55vw;
    top: 52vh;
    height: 4vh;
    border: 1px solid white;
    color: white;
  }

  .updateButton{
    font-size: 10px;
    font-family: $body;
    width: 11vw;
    height: 5vh;
    position: relative;
    left: -55vw;
    top: 55vh;
    background-color: $saffron;
    border: 1px solid $saffron;
  }

  .promotion_code{
    position: relative;
    top: 30vh;
    left: -30vw;
    height: 4vh;
    border: 1px solid white;
    color: white;
  }

  .applyButton{
    font-size: 10px;
    font-family: $body;
    width: 8vw;
    height: 5vh;
    position: relative;
    left: -30vw;
    top: 34vh;
    background-color: $saffron;
    border: 1px solid $saffron;
  }
}

.horizonbar-Three{
  display: flex;
  justify-content: space-evenly;
  margin-top: 5%;
  border-bottom: 2px solid $flame;
  width: 55%;
  position: relative;
  margin-left: -7vw;
  

  p{
    font-size: 14px;
    font-family: $body;
    color: white;  
    margin-left: 5vw;
  }

  .price{
    margin-left: 8vw;
  }
}

.sidebar {
  height: 100vh;
  padding-left: 20px;
  background-color: rgba(0, 0, 0, 0.205);
  opacity: 0.8;
  color: white;
  width: 163px;
  position: fixed;
  left: -100%;
  animation: slide-open .75s forwards;
}

  #close {
    left: 0;
    animation: slide-closed 1.0s forwards;
  }

  @keyframes slide-open { 
    100% { left: 0 }
  }
  
  @keyframes slide-closed { 
    100% { left: -100% }
  }
  
  #toggle{
    position: relative;
    left: 1vw;
    top: -6vh;
    background-color: rgba(0, 0, 0, 0.900);
    color: white;
    border: 1px solid rgba(0, 0, 0, 0.900);
    font-size: 28px;
    z-index: 3;
  }


  ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    position: relative;
    top: 7vh;
    left: -3vw;
    line-height: 7vh;
    font-size: 15px;
    font-family: $body;
    
    
    li a{
      color: white;
      text-decoration: none;
      }

    li a:hover{
      cursor: pointer;
      opacity: 0.5;  
      transition: 0.3s;;
    }
    }
  
.navbar{
  position: relative;
  top: 4vh;
  left: -1vw;
  width: 80%;

  .search {
    position: relative;
    display: flex;
    border: none;
  }
  
  .searchTerm{
    background-color: transparent;
    border-right: none;
    height: 20px;
    outline: none;
    color: white;
    width: 25vw;
    font-family: $body;
  }

  .searchButton{
    height: 26px;
    width: 2.5vw;
    border: 1px solid white;
    background-color: transparent;
    color: white;
  }
}

  