@import './theme';

body{
  background-color: rgba(0, 0, 0, 0.900);
  opacity: 1;
}


.sidebar-container{
  width: 25%;
  height: 100%;
}

.cart-container{
  width: 25%;
  height: 100%;
  float: right;
}

#header_cart{
  position: relative;
  margin-top: -38px;
  margin-left: 93%; 
  width: 50px;
  display: flex;
  justify-content:  flex-end; 
}

#menu_icon{
  position: relative;
  margin-left: 1%;
  margin-top: -30px;
  width: 40px;
  display: flex;
  justify-content:  flex-start;   
}

.header {
   width: 100%;
   height: 30px;
   background-color: black;
}

.header h3 {
  position: relative;
  left: 45%;
  top: -10px;
  color: $flame;
  size: 6px;
  font-family: $logo;
  height: 3px;
  display: flex;
}

.navbar{
  border: solid 1px white;
  background-color: transparent;
  width: 200px;
  height: 30px;
  margin-left: 10px;
  position: relative;
  top: -40px;
  left: 35px;
  
  p{
    color: white;
    font-size: 12px;
    margin-left: 20px;
    margin-top: -5px;
    font-family: $body;
  }
}

.sidebar ul{
  list-style: none;
  position: relative;
  top: -40px;
  left: 1px;
  line-height: 40px;
  font-size: 15px;
  margin-bottom: 55px;
  font-family: $body;

  li a{
    color: white;
    text-decoration: none;
  }
}
 

.cart{
  float: right;
  position: relative;
  bottom: 950px; 
  right: 5%;
  font-family: $body;
  

  p{
      color: white;
      font-size: 10px;
      font-family: $body;
      position: relative;
      top: -15px;
    }

  span{
    color: $flame;
  }

  h2{
    color: $saffron;
    position: relative;
    top: 2px;
    left: -30px;
  }

  ul{
    list-style: none;
    position: relative; 
  }

  h4{
    color: $saffron;
    position: relative;
    top: -10px;
  }

  h3{
    color: $flame;
  }

  span{
    margin-left: 5px;
  }

  .viewCart-btn{
    border: solid 1px $saffron;
    background-color: black;
    font-size: 9px;
    padding: 7px 10px 7px 2px;
    width: 200px;
    margin-bottom: 7px;
  }
  
  
  .checkout-btn{
    border: solid 1px $saffron;
    background-color: $saffron;
    font-size: 9px;
    padding: 7px 10px 7px 2px;
    width: 200px;
  }

  .ordered1{
    position: relative;
    right: 60px;
    top: 20px;
    display: flex;
  
    .dot {
      height: 50px;
      width: 50px;
      background-color: $flame;
      border-radius: 50%;
      display: inline-block;
      margin-right: 5px;
      p{
        position: relative;
        right: 17px;
        top: -4px;
        font-size: 16px;
      }
    }

    .text{
      position: relative;
      right: -10px;
      top: -40px;
    }
  }
}

.arrowicon2{
  margin-left: 0.6em;
  margin-right: 0.6em;
  color: $flame;
  padding: 8px 8px;
  border: 1px solid; 
  float: right;
  position: relative;
  right: 8%;
  top: 12px;
}

.arrowicon3{
  position: relative;
  left: -2px;
  top: 4px;
}

.horizon{
  margin-top: 35px;
  margin-left: 180px;
  border-bottom: 2px solid $flame;
  width: 70%;
}


.horizonbar{
  position: relative;
  top: 10px;
  p{
    position: relative;
    top: 20px;
    margin-left: 22%;
    color: white;
    font-size: 10px;
    font-family: $body;
  }
}

.sample_menu{
  display: flex;
  position: relative;
  left: 300px;
  top: 20px;

    .dot2{
      height: 200px;
      width: 200px;
      background-color: $flame;
      border-radius: 50%;
      display: inline-block;
      margin-left:  100px;
      margin-top: 5%;
  }

  .sample_text{
    color: $saffron;
    position: relative;
    left: 70px;
  }
}

#available-size{
  width: 300px;
}

.sample_text{
  h2{
    font-size: 30px;
  }
  h3{
    font-size: 26px;
    color: $flame;
  }
}

.counterButton{
  position: relative;
  left: 670px;
  color: white;
  background-color: rgba(0, 0, 0, 0.900);
  opacity: 1;
  height: 30px;
  width: 90px;
  border: 1px solid white;
   
  
  .decButton{
    font-size: 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.900);
    opacity: 1;
    width: 30px;
    height: 30px;
    display: inline-block;
  }

  .incButton{
    font-size: 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.900);
    opacity: 1;
    width: 30px;
    height: 30px;
    display: inline-block;
  }


  .count{
    font-size: 20px;
    text-align: center;
    width: 30px;
    height: 30px;
    display: inline-block;
    color: white;
  }
}

