@import '../../asset/theme.scss';

.pizza-review {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-left: 10%;
  margin-top: 3%;

  .reviewCountainer{
    position: relative;
    margin-left: 5%;
    margin-top: 5%;
    width: 100%;
  
    h3{
      font-size: 16px;
      font-family: $body;
      color: $saffron;
      margin-left: 2vw;
    }

    span{
      font-size: 14px;
      font-family: $body;
      color: $flame;
      margin-left: 2vw;
    }

    p{
      font-size: 12px;
      font-family: $body;
      color: white;
      margin-left: 2vw;
    }
  
    .five-starRate{
      margin-left: 28vw;
    }
  }
  
  .reviewForm-container{
    margin-right: 5%;
    width: 100%;
    
  
    h2{
      font-size: 24px;
      font-family: $heading;
      color: $saffron;
      position: relative;
      top: 0vh;
      left: 10vw;  
      width: 100%;
   }
  
   .five-starRate{
     width: 100%;
   }
  
   .review-form{
    position: relative;
    top: 1vh;
    left: 23%;

    p{
      margin-left: 0vw;
    }
  
    input{
      padding: 7px 20px;
      color: white;
      background-color: transparent;
      border: 1px solid white;
    }
  }
  
  .submit-form{
    position: relative;
    top: 2vh;
    left: 23%;

    p{
      margin-left: 0vw;
    }

    input{
      padding: 40px 20px;
      color: white;
      background-color: transparent;
      border: 1px solid white;
    }
  }
  
  .submit-button{
    margin: auto;
    margin-left: 23%;
    margin-top: 5%;
  

    input{
      padding: 0.5vw 3vw 1.5vw 3vw;
      background-color: $saffron;
      border: 1px solid $saffron;
      font-size: 1rem;
      font-family: $body;
      color: black;
      width: 100%;
    }
  }
}
}

@media only screen and (max-width: 700px){

  .pizza-review{
    margin-left: 0%;
    display: block;

  }
  .reviewForm-container{
    border-bottom: 2px solid $flame;
    padding-bottom: 4%;
  }
  .menumain-review{
    border-bottom: 2px solid $flame;
    padding-bottom: 2%;
  }
 



}
