@import '../../asset/theme.scss';

.forms_container{
  display: flex;
  flex-direction: row;

  .shipping-title{
    color: $saffron;
    position: relative;
    left: -45vw;
    top: 50vh;
    font-size: 24px;
    width: 100%;
  }

  .shipping_form{
    width: 20vw;
    position: relative;
    left: -45vw;
    top: 50vh;
  }

  form{
    position: relative;
    left: -45vw;
    top: 52vh;
    line-height: 7vh;

    select{
      width: 20vw;
      height: 5vh;
      border: 1px solid white;
      background-color: transparent;
      color: white;
    }

    option{
      width: 20vw;
      height: 4vh;
      border: 1px solid white;
      background-color: rgba(0, 0, 0, 0.822);
      color: white;
    }

    input{
      width: 20vw;
      height: 4vh;
      border: 1px solid white;
      background-color: transparent;
      color: white;
    }

    .current_state{
      position: relative;
      left: -55vw;
      top: 53vh;
      height: 4vh;
      border: 1px solid white;
      color: white;
    }
  
    .postcode_zip{
      position: relative;
      left: -55vw;
      top: 52vh;
      height: 4vh;
      border: 1px solid white;
      color: white;
    }
  }

  .updateButton{
    font-size: 10px;
    font-family: $body;
    width: 11vw;
    height: 5vh;
    background-color: $saffron;
    border: 1px solid $saffron;
    position: relative;
    left: -20.1vw;
    top: 7vh;
  }
}

.right-forms{
  .promotion-title{
    color: $saffron;
    position: relative;
    left: -51vw;
    top: 50vh;
    font-size: 24px;
    width: 100%;
  }

  .code-form{
    margin-left: -6vw;
    margin-top: -0.8vh;
  }

  .applyButton{
    margin-left: -20.1vw;
    position: relative;
    top: 6.5vh;
    font-size: 10px;
    font-family: $body;
    width: 8vw;
    height: 5vh;
    background-color: $saffron;
    border: 1px solid $saffron;
  }
}

