@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap');


$flame: #D94F2B;
$saffron: #FDBC2C;
$black: #1A1A1A;
$white: #FFFFFF;
$smokegrey: #3F3F3F;

$heading:  'Abril Fatface', cursive;

$body: 'Josefin Sans', sans-serif; 

$logo:'Pacifico', cursive;

$chalk: 'Fredericka the Great', sans-serif;
    