@import '../../asset/theme.scss';
@import '../../asset/mixin.scss';

body{
  background-color: rgba(0, 0, 0, 0.900);
  opacity: 1;
}

.header {
   width: 100%;
   height: 8vh;
   margin-top: -3vh;
   background-color:  rgba(0, 0, 0, 0.900);

   #header_cart{
    position: relative;
    margin-top: -6.1vh;
    margin-left: 90vw; 
    width: 4.2vw;
    display: flex;
    justify-content:  flex-end; 
  }
  
  #menu_icon{
    position: relative;
    margin-left: 4vw;
    margin-top: 1vh;
    width: 4.2vw;
    display: flex;
    justify-content:  flex-start;   
  }

  h3 {
    position: relative;
    left: 45%;
    top: 1vh;
    color: $flame;
    size: 6px;
    font-family: $logo;
    height: 3vh;
    display: flex;
  }
}





