@import '../../asset/theme.scss';

.maincontainer{
    width: 100%;
    background: rgb(44, 39, 39);
}

.icon{
    color:$flame;
}

.headercontainer{
    width:60%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding-top: 4em;
}

.headercontainer h4{
    color: $flame;

    font-size:1em;
    font-family: Georgia;
    margin-top: 0.06em;

}
.filtercontainer{
    margin-top: 1%;
    width:60%;
    height: 40%;
    margin-left: auto;
    margin-right: auto;
    background:black;
    border-top: 5px solid $flame;
}

.checkboxcontainer{
    display: flex;
    margin-bottom: 1em;
    padding: 2% 1px 7px 5%;  
}
.checkboxlists{
    display: block;
    width:25%;
}
.listcontainer{
    width:25%
}
label { color:$white; }
input[type="checkbox"]:checked + label {
    color: $flame;
}
input[type="checkbox"]{
    margin-bottom: 1em;
    margin-right: 1em;
}
.listcontainer h1{
    color:$white;
    font-size: 0.9em;
    height: 4%;
}

.veggiecontainer{
    display: flex;
    width: 25%;
 
}
.btncontainer{
 text-align: center;
}

.filter-btn{
    border: solid 1px $saffron;
    background-color: $saffron;
    color: black;
    font-size: 11px;
    padding: 7px 10px 7px 2px;
    width: 200px;
    margin-bottom: 1em;
  }

  .pizzacontainer{
      width:60%;
      height: 60%;
      display: flex;
      margin: auto;
      margin-top: 2em;
      justify-content: center;
      background:rgb(44, 39, 39);
      flex-wrap: wrap;
  }
.cardcontainer{
    text-align: center;
    width:25%;
    margin-bottom: 1em;
    text-decoration: none;
}
.pizza-page{
    font-size: 2em;
    color: white;
    text-align: center;
    padding-bottom: 1em;
}
.pizzaName {
    font-size: 1.2em;
    color:$saffron;
}

.pizzaDescription {
  color: $white;
}

.price{
  color: $flame;  
  font-size: 1.2em;
}

.cardcontainer .circlecontainer{
 margin:auto;
 text-align: center;
 text-align: center;
}
.cardcontainer .circlecontainer img{
    height:80px;
    width:80px;
    text-align: center;
    margin:auto;
    border-radius: 50%;

}
.pizza-card{text-align: center;
}

//   pizzacard

Image{
    width:20px;
    height:20px;
  
}

.pizza-card{
    width:30%;
}

.pizzanamecontainer{
    height:2.5em;

}

.pizzadescriptioncontainer{
    height: 5em;
}
@media only screen and (max-width: 1500px) {
 
    
  
  }
@media only screen and (max-width: 1000px) {
    .pizzanamecontainer{
        height:3em;
    
    }
    
    .pizzadescriptioncontainer{
        height: 9em;
    }
  }


  @media only screen and (max-width: 700px) {
      .cardcontainer{
          display: flex;
          width: 100%;
          margin:auto;
          height: 100%;
          margin-bottom: 2%;
          border-bottom: 1px solid $flame;
          padding-bottom: 2%;

      }
      .circlecontainer{
          margin: auto;
          height: 100%;
          width:20%;

      }
    
      .pizzapricecontainer{
        margin: auto;
        width:10%;
        height: 100%;
      }
      .pizzadescriptioncontainer{
        margin: auto;
        height: 100%;
        width:50%;
        margin-right: 2%;
      }
      
    .pizzanamecontainer{
        margin: auto;
        height: 100%;
        margin-left: 2%;
        margin-right: 2%;
        width:20%;
    
    }
    .pizzaName {
        font-size: 0.9em;
     
    }
    // .pizzadescriptioncontainer{
    //     height: 9em;
//  }
    .pizzacontainer{
        width:90%;
    }
    .filtercontainer{
        width: 100%;
    }
    .filtercontainer h1{
        font-size:1em;
    }
    .filtercontainer label{
        font-size:0.7em;
    }
    .headercontainer{
        width:95%;
        padding-top:2em;

    }

  }


// ingedient card


.ingredientcardcontainer{
    display: flex;
}