@import './theme';

.maincontainer{
    width: 100%;
    background: rgb(44, 39, 39);
}
.icon{
    color:$flame;
  
}

.headercontainer{
    width:60%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3%;
}

.headercontainer h4{
    color: $flame;

    font-size:1em;
    font-family: Georgia;
    margin-top: 0.06em;

}
.filtercontainer{
    margin-top: 1%;
    width:60%;
    height: 40%;
    margin-left: auto;
    margin-right: auto;
    background:black;
    border-top: 5px solid $flame;
}

.checkboxcontainer{
    display: flex;
    margin-bottom: 1em;
    padding: 2% 1px 7px 5%;  
}

.listcontainer{
    width:25%
}
label { color:$white; }
input[type="checkbox"]:checked + label {
    color: $flame;
}
input[type="checkbox"]{
    margin-bottom: 1em;
    margin-right: 1em;
}
.listcontainer h1{
    color:$white;
    font-size: 0.9em;
    height: 4%;
}

.veggiecontainer{
    display: flex;
    width: 25%;
 
}
.btncontainer{
 text-align: center;
}

.filter-btn{
    border: solid 1px $saffron;
    background-color: $saffron;
    color: black;
    font-size: 11px;
    padding: 7px 10px 7px 2px;
    width: 200px;
    margin-bottom: 1em;
  }


  .pizzacontainer{
      width:60%;
 height: 60%;
      display: flex;
      margin: auto;
      margin-top: 2em;
      justify-content: center;
      background:rgb(44, 39, 39);
      flex-wrap: wrap;
  }
.cardcontainer{
    text-align: center;
    height:15em;
    width:25%;
    margin-bottom: 1em;
    
   
  
 

}

.contentcontainer h2{
    font-size: 1.2em;
  color:$saffron
}

.contentcontainer p{
  color: $white;
}

.contentcontainer h3{
  color: $flame;  font-size: 1.2em;
}
.cardcontainer .circlecontainer{

margin:auto;
text-align: center;

text-align: center;
}
.cardcontainer .circlecontainer img{
    height:80px;
    width:80px;
    text-align: center;
    margin:auto;
}
.pizza-card{text-align: center;
}







//   pizzacard

Image{
    width:20px;
    height:20px
}

.pizza-card{
    width:30%;
}