@import './theme';

* {
	box-sizing: border-box;
}

body{
  background-color: $smokegrey;
}

.Menu-container{
  background: $smokegrey;
	height: 100px;
	position: relative;
}

header h3 {
  position: relative;
  left: 45%;
  top: 13px;
  color: #D94F2B;
  size: 6px;
  font-family: $logo;
}

nav{
  border: solid 1px white;
  background-color: transparent;
  width: 200px;
  height: 30px;
  margin-left: 10px;
  position: relative;
  top: -35px;
  left: 35px;
}

nav p{
  color: white;
  font-size: 12px;
  margin-left: 20px;
  margin-top: -5px;
  font-family: $body;
}

sidebar ul{
  list-style: none;
  position: relative;
  top: -10px;
  left: 1px;
  line-height: 40px;
  color: white;
  font-size: 15px;
  margin-bottom: 55px;
  font-family: $body;
}
 
li a{
  color: white;
  text-decoration: none;
}

menu h1{
  position: relative;
  text-align: center;
  top: -450px;
  left: -20px;
  color: white;
  font-family: $heading;
}

sample h2{
  position: relative;
  bottom: 300px;
  left: 10%;
  text-align: center;
  color:#FDBC2C;
  font-family: $body;
}

cart{
  float: right;
  position: relative;
  bottom: 740px; 
  right: 5%;
  font-family: $body;
}

cart h2{
  color:#FDBC2C;
}

cart ul{
  list-style: none;
  position: relative; 
}

cart h4{
  color: #FDBC2C;
}

cart h3{
  color: #D94F2B;
}

cart span{
  margin-left: 40px;
}

.viewCart-btn{
  border: solid 1px #FDBC2C;
  background-color: black;
  font-size: 9px;
  padding: 7px 10px 7px 2px;
  width: 200px;
  margin-bottom: 7px;
}


.checkout-btn{
  border: solid 1px #FDBC2C;
  background-color: #FDBC2C;
  font-size: 9px;
  padding: 7px 10px 7px 2px;
  width: 200px;
}



