@import './theme';

* {
	box-sizing: border-box;
}

body{
  background-color:  black;
}

.Menu-container{
  background:  transparent;
  width: 100%;
	position: relative;
}

.sidebar-container{
  background: rgb(44, 39, 39);
  width: 25%;
  height: 100%;
}

.cart-container{
  background: rgb(44, 39, 39);
  width: 25%;
  height: 100%;
  float: right;
}

#header_cart{
  position: relative;
  left: 65%;
  top: -42px;
  width: 50px;
}

#menu_icon{
  position: relative;
  left: 25%;
  top: -52px;
  width: 40px;
}

header h3 {
  position: relative;
  left: 45%;
  top: -10px;
  color: #D94F2B;
  size: 6px;
  font-family: $logo;
  height: 3px;
}

nav{
  border: solid 1px white;
  background-color: transparent;
  width: 200px;
  height: 30px;
  margin-left: 10px;
  position: relative;
  top: -85px;
  left: 35px;
  
  p{
    color: white;
    font-size: 12px;
    margin-left: 20px;
    margin-top: -5px;
    font-family: $body;
  }
}

sidebar ul{
  list-style: none;
  position: relative;
  top: -60px;
  left: 1px;
  line-height: 40px;
  font-size: 15px;
  margin-bottom: 55px;
  font-family: $body;

  li a{
    color: white;
    text-decoration: none;
  }
}
 

menu h1{
  position: relative;
  text-align: center;
  top: -450px;
  left: -20px;
  color: white;
  font-family: $heading;
  font-size: 30px;
}

#title {
  position: relative;
  top: -490px;
  left: 30%;
}

#title_nav {
  position: relative;
  top: -425px;
  left: 0%;
}

#horizon{
  position: relative;
  top: -660px;
  left: 26%;
  width: 50%;
}

#sample_menu{
  position: relative;
  top: -350px;
  left: 27%;
  width: 50%;
}

h2{
  position: relative;
  bottom: 300px;
  left: 10%;
  text-align: center;
  color:#FDBC2C;
  font-family: $body;
}

cart{
  float: right;
  position: relative;
  bottom: 1030px; 
  right: 5%;
  font-family: $body;
  

  p{
      color: white;
      font-size: 10px;
      font-family: $body;
    }

  span{
    color: $flame;
  }

  h2{
    color:#FDBC2C;
    position: relative;
    top: 2px;
    left: -30px;
  }

  ul{
    list-style: none;
    position: relative; 
  }

  h4{
    color: #FDBC2C;
    position: relative;
      top: 20px;
  }

  h3{
    color: #D94F2B;
  }

  span{
    margin-left: 40px;
  }

  .viewCart-btn{
    border: solid 1px #FDBC2C;
    background-color: black;
    font-size: 9px;
    padding: 7px 10px 7px 2px;
    width: 200px;
    margin-bottom: 7px;
  }
  
  
  .checkout-btn{
    border: solid 1px #FDBC2C;
    background-color: #FDBC2C;
    font-size: 9px;
    padding: 7px 10px 7px 2px;
    width: 200px;
  }


.dot {
  height: 50px;
  width: 50px;
  background-color: #D94F2B;
  border-radius: 50%;
  display: inline-block;
}
}


