@import './theme';

.Menu-container{
  background:  transparent;
  width: 100%;
	position: relative;
}

.MenuMain-container{
  position: relative;
  width: 100%;
}

.menumain h1{
  position: relative;
  text-align: center;
  top: -450px;
  left: -20px;
  color: white;
  font-family: $heading;
  font-size: 30px;
}

#title {
  position: relative;
  top: -490px;
  left: 30%;
}

#title_nav {
  position: relative;
  top: -425px;
  left: 0%;
}

#horizon{
  position: relative;
  top: -660px;
  left: 26%;
  width: 50%;
}

#sample_menu{
  position: relative;
  top: -350px;
  left: 27%;
  width: 50%; 
}

.horizonbar{
  position: relative;
  top: 700px;
  width: 70%;
  margin-left: 12%;
}

.relatedProduct-container{
  width: 70%;
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  position: relative;
  margin-top: -290px;
  margin-left: 5%;

  .related-title{
    font-family: $heading;
    font-size: 26px;
    color: $saffron;
    position: relative;
    margin-top: -65px;
    left: 50%;
    width: 100%;
  }
  .pizza{
    width: 30%;
    padding: 2% 1px 7px 2%;
    text-align: center;
    position: relative;
    margin-top: 40%;
    margin: 1%;
  }

  .pizza h4{
  font-size:0.9em;
  color:$saffron;
  margin-top: 20%;
  }
  
  .pizza p{
  font-size:0.7em;
  color:$white;
  }
  
  .pizza h3{
  font-size:0.8em;
  color: $flame;
  }
  
  .dot {
  height: 120px;
  width: 120px;
  background-color: $flame;
  border-radius: 50%;
  display: inline-block;
  } 
}


  
