@import '../../asset/theme.scss';



.MenuMain-container{
  width: 100%;
}

.Catalog-container{
  background-color: rgb(37, 35, 35);
  opacity: 0.9;
  width: 100%;
}

.sample_menu{
  display: flex;
  justify-content: center;
  margin: auto;
  width: 70%;
  
    .dot2{
      height: 25vw;
      width: 25vw;
      background-color: $flame;
      border-radius: 50%;
      display: inline-block;
      margin: auto;
      margin-top: 15%;
  }

  .sample_text{
    color: $saffron;
    margin-left: 10%;
    margin-top: 10%;

      p{
        margin: auto;
      }

      h2{
        font-size: 2rem;
      }

      h3{
        font-size: 1.5rem;
        color: $flame;
      }

    .clickCount{
      margin: auto;
      

      .counterButton{
        margin: auto;
        margin-left: 1%;
        color: white;
        opacity: 1;
        height: 3vw;

       
      
        .decButton{
          font-size: 1.3em;
          color: white;
          background-color: rgba(0, 0, 0, 0.900);
          opacity: 1;
     
          display: inline-block;
          border: 1px solid white;
        }
      
        .incButton{
          font-size: 1.3em;
          color: white;
          background-color: rgba(0, 0, 0, 0.900);
          opacity: 1;
          
          display: inline-block;
          border: 1px solid white;
        }
      
        .count{
          font-size: 1.3em;
          text-align: center;
          width: 3vw;
          height: 3vw;
          display: inline-block;
          color: white;
        }
      } 
    }
  }
}

.addButton{
  margin: auto;
  margin-left: 30%;
  margin-top: 6.5%;
  padding: 1vw vw;
  background-color: $saffron;
  color: black;
  font-family: $body;
  border: none;
  font-size: 0.8em;
  cursor: pointer;
}

.addButton:hover {
  background-color: $flame; /* Green */
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#available-size{
  width: 25vw;
}

@media only screen and (max-width: 700px){

  .sample_menu{
    display: block;
    width:100%
  }
  .sample_text{margin-left: 0%;
  margin-right: 0%;}
.pizza-sample{
  text-align: center;
}

.countercontainer{
  display: flex;
}
.addButton{
  margin: auto;
  margin-left: 50%;
  margin-top: 13%;
  padding: 2vw 4vw;
  background-color: $saffron;
  color: black;
  font-family: $body;
  border: none;
  font-size: 0.8em;
  cursor: pointer;
}

}