@import '../asset/theme.scss';

.billForms-container{
  .select-country{
       margin-left: 8.2vw;
       margin-top: 2vh;

      select{
        width: 54%;
        height: 5vh;
        border: 1px solid white;
        background-color: transparent;
        color: white;
      }
  
      option{
        width: 20vw;
        height: 4vh;
        border: 1px solid white;
        background-color: rgba(0, 0, 0, 0.822);
        color: white;
      }
  }
}

form{
  display: flex;

  input{
    width: 23vw;
    height: 4vh;
    border: 1px solid white;
    background-color: transparent;
    color: white;
  }
}

.first-name{
  margin-left: 8.2vw;
  margin-top: 2vh;
}

.last-name{
  margin-left: 33vw;
  margin-top: -6.7vh;
}

.company-name{
  margin-left: 8.2vw;
  margin-top: 2vh;

  input{
    width: 54%;
    border: 1px solid white;
    background-color: transparent;
    color: white;
  }
}

.address{
  margin-left: 8.2vw;
  margin-top: 6vh;

  input{
    width: 54%;
    border: 1px solid white;
    background-color: transparent;
    color: white;
  }
}

.address2{
  margin-left: 8.2vw;
  margin-top: 1vh;

  input{
    width: 54%;
    border: 1px solid white;
    background-color: transparent;
    color: white;
  }
}

.city{
  margin-left: 8.2vw;
  margin-top: 6vh;

  input{
    width: 54%;
    border: 1px solid white;
    background-color: transparent;
    color: white;
  }
}

.country{
  margin-left: 8.2vw;
  margin-top: 6vh;

  input{
    width: 23vw;
    height: 4vh;
    border: 1px solid white;
    background-color: transparent;
    color: white;
  }
}

.postcode{
  margin-left: 33vw;
  margin-top: -4.7vh;

  input{
    width: 23vw;
    height: 4vh;
    border: 1px solid white;
    background-color: transparent;
    color: white;
  }
}

.email{
  margin-left: 8.2vw;
  margin-top: 6vh;

  input{
    width: 23vw;
    height: 4vh;
    border: 1px solid white;
    background-color: transparent;
    color: white;
  }
}

.phone{
  margin-left: 33vw;
  margin-top: -4.7vh;

  input{
    width: 23vw;
    height: 4vh;
    border: 1px solid white;
    background-color: transparent;
    color: white;
  }
}

p{
  margin-left: 8.5vw;
  margin-top: 2vh;
}

.right{
  margin-left: 43vw;
}
