@import '../asset/theme.scss';


.left-container{
  .horizonbar-left{
    display: flex;
    justify-content: space-evenly;
    margin-top: 2%;
    border-bottom: 2px solid $flame;
    width: 50%;
    position: relative;
    margin-left: 8%;
    
    p{
      font-size: 14px;
      font-family: $body;
      color: white;
      margin-left: -28.5vw;

      span{
        color: $flame;
      }
    }
  }

  .bill-title{
      font-size: 24px;
      font-family: $heading;
      color: $saffron;
      margin-left: 8vw;
      margin-top: 5vh;
  }
}

.horizonbar-right{
  display: flex;
  justify-content: space-evenly;
  margin-top: -119.3vh;
  border-bottom: 2px solid $flame;
  width: 30%;
  position: relative;
  margin-left: 60%;

  p{
    font-size: 14px;
    font-family: $body;
    color: white;
    margin-left: -5.5vw;

    span{
      color: $flame;
    }
 }
}

.footer-container{
  margin-top: 150vh;
}