@import '../homepage.scss';

// .homepage{
//     &__menu{
        
//         &__container{
//             width:80vw;
//             
//         }
//     }
// }
.slick-slider{
    width:90vw;
}

#carousel{
    display: flex;
    align-items: center;
    justify-content: center;
}


  