@import '../asset/theme.scss';
@import '../asset/mixin.scss';




.homepage{
    background-color: $smokegrey;
    margin-bottom: 2vh;
    width:100vw;
    
    &__welcome{
        text-align: center;
    height: 100vh;
    color:$saffron;

    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &-heading{
        @include chalk-heading();
        color: $white;
    }

    &-span{
        width:40vw;
        @include heading();
        color: $saffron;
        padding: 1em;
    }

    &-button{
        font-size: $button-size;
        @include button();
    }
    
    }

    &__menu{
        margin:0;
        display: flex;
        flex-direction: row;
        background-color: $flame;
        text-align: left;
        @include padding-center;

        &-heading{
            @include heading();
            font-size: $heading-size;
            color:$white;
        }
        &-price{
            font-size:$sub-heading-size*1.5;
            font-family: $chalk;
            color:$black
        }

        &-button{
            text-align: center;
            width:10vw;
            font-size: $button-size;
            @include button-filled();
        }

        &-more{
            font-size:$body-size;
            color:$white;
        }

        &-right{
            display: flex;
            align-items: center;
            img{
                border-radius: 50%;
                height: 50vh;
            }
  
        }

    }

    &__pizza-builder{
        @include padding-center();
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 1vh;

        &__heading{
            @include heading;
            font-size: $heading-size ;
            color:$saffron;
            
            &-span{
                font-size: $body-size;
                padding-bottom: 2em;
            }
        }
        ul{
            list-style-type: none;
            padding-left:0;
            text-align: left;
            border-top: 1px solid grey;
        }
        &__process{
            color:$saffron;
            font-size: $sub-heading-size*1.5;
            font-family: $heading;
            padding-top: 1em;
            padding-bottom: 1em;
            border-bottom: 1px solid grey;
    
            &-number{
                @include chalk-heading();
                color: $flame;
            }

            &-plus{
                
               font-size: $body-size;
                color:$white;
                font-family: $chalk;
                border-radius:50% ;
                border: 1px solid $white ;
                
            }
            
        }
        &-button{
            @include button-filled;
            font-size: $body-size;
            width: 20vw;
            position: relative;
            top: 7vh;
            margin-bottom: 10vh;
            
        }
    }
    

    &__comment{
        @include padding-center();
        text-align: center;

        &-heading{
            @include heading;
            font-size: $heading-size;
            color:$saffron;
            &-span{
                font-size: $body-size;
                padding-bottom: 2em;
            }
        }
        &__details{
            @include padding-center();
            color:$white;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            &-container{
                margin:2vw;
            }

            &-profile{
                width:10vw;
                border-radius:50% ;
            }
            &-dish{
                @include heading();
                color:$saffron;
            }
            &-rating{
                font-size: $body-size;
                color:$flame;
            }
            &-bubble{
                @include heading();
                font-size: $body-size;
                width: 20vw;
                position: relative;
                background: $flame;
            }

            &-bubble:after{
                content: '';
                position: absolute;
                top: 0;
                left: 50%;
                width: 0;
                height: 0;
                border: 1vw solid transparent;
                border-bottom-color: $flame;
                border-top: 0;
                margin-left: -1vw;
                margin-top: -1vw;

            }
            &-name{
                font-size: $body-size;
            }
            &-origin{
                font-size: $body-size;
                color: $flame;

            }
        }
    }

    &__app{
        @include padding-center;
        display: flex;
        align-items: center;
        &-container{
            display: flex;
            flex-direction: row;
            img{
                border-radius: 10%;
                background-color: $flame;
                width:30vw;  
            }
        }
        
        &-content{
            padding-left:2vw;
            text-align: left;
            &-heading{
                @include heading;
                color:$saffron;
                font-size: $sub-heading-size;
            }
            &-span{
                font-size: $body-size;
                color: $white;
                font-family: $body;
            }
            &-subheading{
                @include heading;
                color:$saffron;
                font-size: $sub-heading-size;
            }
            &-listing{
                p{
                line-height: normal;
                color:$flame;
                font-size: $body-size;
                }
            }

        }

    }

    &__news{
        text-align: center;
        @include padding-center;
        &-heading{
            @include heading;
            color:$saffron;
            font-size: $heading-size;
        }

        &__container{
            display: flex;
        flex-direction: row;
        }

        &-content{
            text-align: left;
            margin:1vw;
            display: flex;
            flex-direction: column;
            &-picture{
                width:20vw;
                padding: 1vw;
                border: 2px solid $flame ;
                
            }
            &-time{
                color:$flame;
                font-size: $body-size*0.8;
            }
            &-heading{
                @include heading;
                color: $saffron;
            }
            &-span{
                font-size: $body-size;
                color: $white;
                flex:1 0 auto;
                
            }
            &-button{
                @include button-filled;
                font-size: $body-size;
                width:10vw;
                text-align: center;
            }

        }
    }

    

}
