@import '../asset/theme.scss';
@import '../asset/mixin.scss';


.homepage{
    background-color: $smokegrey;

    text-align: center;

    &__welcome{
    height: 100vh;
    margin: auto;
    color:$saffron;

    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &-heading{
        @include chalk-heading();
    }

    &-span{
        @include heading();
        padding: 1em;
    }

    &-button{
        font-size: 1.5vw;
        @include button();
    }
    

    }

    &__aboutUs{
        &-heading{
            font-family: $heading;
            color:$saffron;
        }


    }
    

}