@import '../../../asset/mixin.scss';

$std-unit: 2vh;
$std-weight:3px;


.content:hover{ 
    cursor: pointer;
    border: $std-weight dashed $saffron;
    border-radius: 5%;
}

#card-selected{
    border: $std-weight*2 solid $flame;
}

.selected-tick{
    @include chalk-heading;
    color: $saffron;
}

.content{
    margin:$std-unit;
    padding:$std-unit * 0.5;
    width: $std-unit * 20;
    border-radius: 5%;
    
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: $std-weight solid transparent;

    
    &__flex{
        @include padding-center;
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: stretch; 


    }
    &__img{
        width: 25vh;
        height:25vh;
        border-radius: 30%;
        object-fit: cover;
    }
    &__name{
        @include heading;
        color: $saffron;
    }
    &__description{
        line-height: normal;
        font-family: $body;
        font-size: $body-size*0.8;
        
    }
    &__price{
        @include chalk-heading;
        margin: 0;
        color: $flame;
       font-size: $sub-heading-size;
    }
}