@import'./theme.scss';

@mixin chalk-heading{
    color: $white;
    font-family: $chalk;
    font-size: 4vw;
}


@mixin heading{
    color: $saffron;
    font-family: $heading;
    font-size: 2vw;
}


@mixin button{
    color:$saffron;
    padding-left:15px;
    padding-right: 15px;
    border: 2px solid $saffron;
   
}