@import'./theme.scss';

@mixin chalk-heading{
    font-family: $chalk;
    font-size: $heading-size;  
}

@mixin heading{
    font-family: $heading;
    font-size: $sub-heading-size;
}

@mixin chalk-heading-size-down{
    font-family: $chalk;
    font-size: $heading-size-down; 
}

@mixin heading-size-down{
    font-family:$heading;
    font-size: $sub-heading-size-down;
}

@mixin button{
    font-variant: small-caps;
    color:$saffron;
    padding-left:15px;
    padding-right: 15px;
    border: 2px solid $saffron;
    font-weight: bold; 
}

@mixin button-filled {
    font-variant: small-caps;
    color:$black;
    background-color: $saffron;
    border: 2px solid $saffron;
    font-weight: bold;
}

@mixin padding-center {
    padding-left: 15%;
    padding-right: 15%; 
}

@mixin homepage-responsive{
    @media screen and (max-width:$for-phone){
        .homepage{
            &__welcome{
                &-heading{
                    @include chalk-heading-size-down;
                }
                &-span{
                    @include heading-size-down;
                    font-size: larger;
                }
                &-button{
                    font-size: $button-size-down;
                }
            }
            &__menu{
                flex-direction: column;
                &-heading{
                    @include heading-size-down();
                    font-size: $heading-size-down;
                }
                &-price{
                    font-size:$sub-heading-size-down;
                }
                &-button{
                    font-size: $button-size-down;
                    @include button-filled();
                    width: max-content;
                }
                &-more{
                    font-size:$body-size-down;
                }
        
                &-right{
                    display: flex;
                    align-items: center;
                    img{
                        padding-bottom: 2vh;
                        border-radius: 5%;
                        height: 30vh;
                    }
          
                }
                
            }
            
            &__pizza-builder{
                padding:0;

                &__heading{
                    @include heading-size-down();
                    font-size: $heading-size-down;
                    &-span{
                        font-size: $body-size-down;
                    }
                }
                &__process{
                    font-size: $sub-heading-size-down;
                    &-number{
                        font-size:$heading-size-down;
                    }
                }
                &-button{
                    margin-bottom: 0;
                    font-size: $body-size-down;
                }
            }

            &__comment{
                padding:0;
                margin-bottom: 3vh;
                &-heading{
                    @include heading-size-down();
                    font-size: $heading-size-down;
                    &-span{
                        font-size: $body-size-down;
                    }
                }
                &__details{
                    padding:0;
                    display: flex;
                    flex-direction: column;
                    
                    &-container{
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                    }
                    &-rating{
                        font-size: small;
                    }
                    &-wrapper{
                        margin-right: 2vw;
                    }
                   
                    &-bubble{
                        font-size: small;
                        width: 60vw;
                       
                        
                    }
        
                    &-bubble:after{
                        content: '';
                        position: absolute;
                        left: 0;
                        top: 50%;
                        width: 0;
                        height: 0;
                        border: 1vw solid transparent;
                        border-bottom-color: $flame;
                        border-top: 0;
                        margin-left: -1vw;
                        margin-top: -1vw;
                    }
                    &-name, &-origin{
                        font-size: $smaller-body-size-down;
                        margin: 0;
                    }


                }

            }

            &__app{
                padding-left:5%;
                padding-right:5%;
                margin-bottom: 10vh;

                &-container{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }

                &-content{
                    text-align: center;
                    
                    &-heading{
                        @include heading-size-down();
                        color:$saffron;
                        font-size: $heading-size-down;
                    }
                    &-span{
                        font-size: $smaller-body-size-down;
                        color: $white;
                        font-family: $body;
                    }
                    &-subheading{
                        @include heading-size-down();
                        color:$saffron;
                        font-size: $sub-heading-size-down;
                    }
                    &-listing{
                        p{
                        margin-bottom:0;
                        line-height: normal;
                        color:$flame;
                        font-size: $body-size-down;
                        }
                    }
                    &-download{
                        p{
                            padding:0;
                            font-size: $smaller-body-size-down;
                        }
                    }
        
                }
        
            }

            &__news{
                padding:0;
                &-heading{
                    @include heading-size-down();
                    font-size: $heading-size-down;
                }
        
                &__container{
                display: flex;
                flex-direction: column;
                align-items: center;
                }
        
                &-content{
                    
                    display: flex;
                    flex-direction: column;
                    
                    align-items: center;
                    text-align: center;

                    &-picture{
                        width:30vw;
                    }
                    
                    &-time{
                        font-size: $body-size-down;
                    }
                    &-heading{
                        @include heading-size-down();
                    }
                    &-span{
                        font-size: $body-size-down;
                    }
                    &-button{
                        width: auto;
                        @include button-filled;
                        font-size: $body-size-down;
                    }
        
                }
            }
        }
    }
}

