@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Fredericka+the+Great|Josefin+Sans|Pacifico&display=swap');

$flame: #D94F2B;
$saffron: #FDBC2C;
$black: #1A1A1A;
$white: #FFFFFF;
$smokegrey: #3F3F3F;

$chalk: 'Fredericka the Great', sans-serif;

$heading:  'Abril Fatface', cursive;

$body: 'Josefin Sans', sans-serif; 

$logo:'Pacifico', cursive;
    


