@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Fredericka+the+Great|Josefin+Sans|Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap');


//color
$flame: #D94F2B;
$saffron: #FDBC2C;
$black: #000000;
$white: #FFFFFF;
$smokegrey: #161616;

//font-family
$chalk: 'Montserrat Alternates', 'Arial', sans-serif;

$heading:  'Abril Fatface', Georgia, Times, 'Times New Roman', serif;

$body: 'Josefin Sans', sans-serif; 

$logo:'Pacifico', cursive;

$footer:'Fredericka the Great', sans-serif;

//font-size
$heading-size: 4vw;
$sub-heading-size: 2vw;
$button-size: 1.5vw;
$body-size:1.5vw;

    


