@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Fredericka+the+Great|Josefin+Sans|Pacifico&display=swap');

//color
$flame: #D94F2B;
$saffron: #FDBC2C;
$black: #000000;
$white: #FFFFFF;
$smokegrey: #161616;

//font-family
$chalk: 'Fredericka the Great', sans-serif;

$heading:  'Abril Fatface', cursive;

$body: 'Josefin Sans', sans-serif; 

$logo:'Pacifico', cursive;

//font-size
$heading-size: 4vw;
$sub-heading-size: 2vw;
$button-size: 1.5vw;
$body-size:1.5vw;
    


