@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Fredericka+the+Great|Josefin+Sans|Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap');


//color
$flame: #D94F2B;
$saffron: #FDBC2C;
$black: #000000;
$white: #FFFFFF;
$smokegrey: #161616;

//font-family
$chalk: 'Fredericka the Great', 'Arial', sans-serif;

$heading:  'Abril Fatface', Georgia, Times, 'Times New Roman', serif;

$body: 'Josefin Sans', sans-serif; 

$logo:'Pacifico', cursive;


//font-size
$heading-size: 3vw;
$sub-heading-size: 2vw;
$button-size: 1.2vw;
$body-size:1.2vw;

//breakpoints
$for-phone: 900px;

//responsive font-size
$body-size-down:large;
$smaller-body-size-down: medium;
$button-size-down:large;
$heading-size-down:xx-large;
$sub-heading-size-down: x-large;


    


