
@import './theme';
.maincontainer{
    height:100%;
    width: 100%;
}
.bigcontainer{
    width:75%;
    margin: auto;

}
.infoheader{
    height: 30%;
    text-align: center;
    margin-bottom: 2em;
    padding-top: 2em;
}
.infobody{
    height: 70%;
    text-align: center;
    padding-left: 3em;
    padding-bottom: 2em;
}
.topcontainer{
    display: flex;
    margin: auto;
}
.topcontainer h1{
    margin-bottom: 1.5em;
}
.carefulcontainer{
    width:33%;
    text-align: left;
}
.bottomcontainer{
    display:flex;
}
.leftcontainer{
    width:50%;
}
.rightcontainer{
    width:50%;
}
h1{
    font-size: 1.5em;
    color:#FDBC2C;
    
}
p{
    color:white;
    font-family: 'Josefin Sans';
    font-size: 0.65em;
    line-height: 1.9em;
}
.bottomcontainer{
    text-align: left;
}
.bottomcontainer h1{
    margin-top: 0.3em;
}




/* middle-css */

.middlecontainer{
    background: url("../../asset/img/organgebackground.png");
    height: 18em;
    

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em,1em,1em,1em;
  
}

.middlecontainer h3{


    
   margin: 0;
   color:$white;
   font-size: 2em;;
  
}

.desc-container{
    margin-right: 4em;
    margin-left: 4em;
}


  .squarescontainer{
height:18em ;
width: 19em;

margin-right: 4em;
  }

  .squarescontainer img{
    height:18em ;
    width: 19em;
      }

.imgcontainer img{
    height: 2em;
    width:2em;
}