@import '../../asset/mixin.scss';



$std-width:1vw;
$std-height:1vh;

.homepage{
    background-color: $smokegrey;
    
    &__welcome{
    text-align: center;
    height: 100 * $std-height;
    color:$saffron;

    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &-heading{
        @include chalk-heading();
        color: $white;
    }

    &-span{
        width:40vw;
        @include heading();
        color: $saffron;
        padding: 1em;
    }

    &-button{
        padding-top: $std-width;
        padding-bottom: $std-width;
        text-decoration: none;
        font-size: $button-size;
        @include button();
        font-family: $body;
    }
    
    }

    &__menu{
        margin:0;
        display: flex;
        flex-direction: row;
        background-color: $flame;
        text-align: left;
        @include padding-center;

        &-heading{
            @include heading();
            font-size: $heading-size;
            color:$white;
        }
        &-price{
            margin:0;
            font-size:$sub-heading-size;
            font-family: $chalk;
            color:$black
        }

        &-button{
            text-align: center;
            width: 10 * $std-width;
            font-size: $button-size;
            @include button-filled();
        }

        &-more{
            font-size:$body-size;
            color:$white;
        }

        &-right{
            display: flex;
            align-items: center;
            img{
                border-radius: 50%;
                height: 50 * $std-height;
            }
  
        }

    }

    &__pizza-builder{
        @include padding-center();
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 1 * $std-height;

        &__heading{
            @include heading;
            font-size: $heading-size ;
            color:$saffron;
            
            &-span{
                font-size: $body-size;
            }
        }
        ul{
            list-style-type: none;
            padding-left:0;
            text-align: left;
            border-top: 1px solid grey;
        }

        &__process{
            color:$saffron;
            font-size: $sub-heading-size;
            font-family: $heading;
            border-bottom: 1px solid grey;
            padding: 1 * $std-width;
            &-number{
                @include chalk-heading();
                font-size: $heading-size;
                color: $flame;
            }

            
        }
        &-button{
            @include button-filled;
            padding:  $std-height;
            font-size: $body-size;
            margin-top: 5 * $std-height;
            margin-bottom: 10 * $std-height;
            text-decoration: none;
        }
    }
    

    &__comment{
        @include padding-center();
        text-align: center;

        &-heading{
            @include heading;
            font-size: $heading-size;
            color:$saffron;
            &-span{
                font-size: $body-size;
            }
        }
        &__details{
            @include padding-center();
            color:$white;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            &-container{
                margin:2 * $std-width;
            }

            &-profile{
                width:10 * $std-width;
                border-radius:50% ;
            }
            &-dish{
                @include heading();
                color:$saffron;
            }
            &-rating{
                font-size: $body-size;
                color:$flame;
            }
            &-bubble{
                @include heading();
                font-size: $body-size;
                width: 20 * $std-width;
                position: relative;
                background: $flame;
            }

            &-bubble:after{
                content: '';
                position: absolute;
                top: 0;
                left: 50%;
                width: 0;
                height: 0;
                border: 1 * $std-width solid transparent;
                border-bottom-color: $flame;
                border-top: 0;
                margin-left: -1 * $std-width;
                margin-top: -1 * $std-width;

            }
            &-name{
                font-size: $body-size;
            }
            &-origin{
                font-size: $body-size;
                color: $flame;

            }
        }
    }

    &__app{
        @include padding-center;
        display: flex;
        align-items: center;

        &-container{
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            
            img{
                border-radius: 15%;
                width:30 * $std-width;  
            }
        }
        
        &-content{
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-left:2 * $std-width;
            text-align: left;
            &-heading{
                @include heading;
                color:$saffron;
                font-size: $sub-heading-size;
            }
            &-span{
                font-size: $body-size;
                color: $white;
                font-family: $body;
            }
            &-subheading{
                @include heading;
                color:$saffron;
                font-size: $sub-heading-size;
            }
            &-listing{
                p{
                line-height: normal;
                color:$flame;
                font-size: $body-size;
                }
            }
            &-download{
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                p{
                    font-size: $body-size;
                    @include button-filled;
                    margin-right: 2 * $std-width;
                    padding-left: 1 * $std-width;
                    padding-right:1 * $std-width; 
                    &:hover{
                        cursor: pointer;
                    }
                }
            }

        }

    }

    &__news{
        text-align: center;
        @include padding-center;
        &-heading{
            @include heading;
            color:$saffron;
            font-size: $heading-size;
        }

        &__container{
        display: flex;
        flex-direction: row;
        }

        &-content{
            text-align: left;
            margin:1 * $std-width;
            display: flex;
            flex-direction: column;
            &-picture{
                width:20 * $std-width;
                padding: 1 * $std-width;
                border: 2px solid $flame ;
                
            }
            &-time{
                color:$flame;
                font-size: $body-size;
                
            }
            &-heading{
                margin: 0;
                @include heading;
                color: $saffron;
            }
            &-span{
                font-size: $body-size;
                color: $white;
                flex:1 0 auto;
                
            }
            &-button{
                @include button-filled;
                font-size: $body-size;
                width:10 * $std-width;
                text-align: center;
            }

        }
    }
}

@include homepage-responsive;

