@import '../../../asset/mixin.scss';
@import '../../../asset/theme.scss';

$std-height: 1vh;
$std-width:1vw;
.footer{

    &__insta{
        @include padding-center;
        font-size: $sub-heading-size;
        text-align: center;
        font-variant:small-caps;
        font-weight: bold;
        
        &__arrow{
            border-radius: 50%;
            border:2px solid $white;
            margin-left: 2 * $std-width;
            margin-right: 2 * $std-height;
        }
        &__start{
            display: flex;
            align-items: center;
            justify-content: center;
            color:$white;
            border: 3px solid $flame;
        
        }
        &__span{
            color:$flame;
        }
    }

    &__sign-up{
        text-align: center;
        background-color: $saffron;
        @include padding-center;
        padding-bottom: 2 * $std-height;
        margin-bottom: 2 * $std-height;

        &__header{
            @include heading;
            color:$black;
        }

        &__button{
            border-radius: 5%;
            font-variant: small-caps;
            color: $saffron;
            background-color: $black;
            font-size: $body-size;
            border: 2px $black solid;
            &:hover{
                cursor: pointer;
            }
            
        }
    }

    &__contact-details{
        @include chalk-heading;
        color: $flame;
        text-align: center;
        margin:0;
        &-span{
            @include chalk-heading;
            font-size: $sub-heading-size;
            color:$flame;
            text-align: center;
            margin: 0;
        }
    }

    &__social-media{
       
        &__break{
            @include chalk-heading;
            font-size: $sub-heading-size;
            text-align: center;
            color:$flame;
        }

        &__start{
            @include padding-center;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            list-style: none;
            color:$white;
            font-family: $heading;
            font-size: $sub-heading-size;
            a{
                text-decoration: none;
                color: $white;
            }
        }
    }
    &__disclaimer{
        padding-top: 5vh;
        text-align: center;
        font-size: $body-size;
    }
    
}




