@import '../asset/mixin.scss';

.builder{
    &__title{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40vh;
        &__heading{
            @include chalk-heading;
            color:$white;
        }
    }
}