@import '../asset/theme.scss';


.login-form {
  margin-top: 5rem;
  margin-left: 23rem;
  padding: 10vw 13vw;
  padding-left: 11vw;
  padding-right: 18.5vw;
  width: 12vw;
  height: 25vh;
  line-height: 3em;
  background-color: rgb(44, 43, 43);
  opacity: 0.8;
  border: 2px solid $flame;
  border-radius: 3px;

  .login-title{
    color:$saffron;
    font-family: $body;
    font-size: 20px;
    text-align: left;
    width: 100%;
    position: relative;
    top: -20vh;
  }


  .get-password{
    font-family: $body;
    color: white;
    font-size: 14px;
    text-align: left;
    width: 100%;
    text-decoration: none;
    position: relative;
    top: -20vh;
  }

  Input{
    width: 18vw;
    height: 5vh;
    border: 1px solid $saffron;
    border-radius: 3px;
    position: relative;
    top: -20vh;
  }

  .login-button{
    width: 9vw;
    height: 5vh;
    background-color: $saffron;
    border: 1px solid $saffron;
    border-radius: 3px;
    position: relative;
    top: -12vh;
    font-family: $body;
    position: relative;
    top: -20vh;
  }

  .register-link{
    position: relative;
    font-family: $body;
    font-size: 22px;
    top: -28vh;
    left: 10vw;
    text-decoration: none;
  }

  .alart-message{
    background-color: rgb(44, 43, 43);
    position: relative;
    top: -16vh;
    font-family: $body;
    font-size: 22px;
    width: 18vw;
    height: 11vh;
    border: 1px solid $flame;
    border-radius: 3px;
    opacity: 0.5;
  }
}

.socialLogin-container{
  margin-top: -18vh;
  margin-left: 5vw;
  z-index: 3;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.register-form {
  margin-top: 5rem;
  margin-left: -10rem;
  padding: 10vw 10vw;
  padding-left: 8vw;
  padding-right: 14vw;
  width: 12vw;
  height: 27vh;
  line-height: 3em;
  background-color: rgb(44, 43, 43);
  opacity: 0.8;
  border: 2px solid $flame;
  border-radius: 3px;

  .register-title{
    color:$saffron;
    font-family: $body;
    font-size: 20px;
    text-align: left;
    width: 100%;
    position: relative;
    top: -20vh;
  }

  Input{
    width: 18vw;
    height: 5vh;
    border: 1px solid $saffron;
    border-radius: 3px;
    position: relative;
    top: -17vh;
  }

  Button{
    width: 9vw;
    height: 5vh;
    background-color: $saffron;
    border: 1px solid $saffron;
    border-radius: 3px;
    position: relative;
    top: -12vh;
    font-family: $body;
    position: relative;
    top: -17vh;
  }

  .login-link{
    position: relative;
    font-family: $body;
    font-size: 22px;
    top: -25vh;
    left: 10vw;
    text-decoration: none;
  }

  .alart-message{
    background-color: rgb(44, 43, 43);
    position: relative;
    top: -16vh;
    font-family: $body;
    font-size: 22px;
    width: 18vw;
    height: 8vh;
    border: 1px solid $flame;
    border-radius: 3px;
    opacity: 0.5;
  }
}

.select-type{
  position: relative;
  left: -25vw;
  top: 3vh;
  font-weight: $body;
  color: white;
  font-size: 30px;
}

.socialRegister-container{
  margin-top: -27.5rem;
  margin-left: 22rem;
  padding: 6vw 10vw;
  padding-left: 8vw;
  padding-right: 14vw;
  width: 12vw;
  height: 27vh;
  line-height: 3em;
  background-color: rgb(44, 43, 43);
  opacity: 0.8;
  border: 2px solid $flame;
  border-radius: 3px;

  .socialRegister-title{
    font-family: $body;
    font-size: 20px;
    color: white;
    position: relative;
    top: -10vh;
  }

  .socialRegister-link{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    top: -10vh;

    Button{
      width: 18vw;
      height: 6vh;
      margin-top: 3vh;
      border-radius: 20px;
      font-family: $body;
    }
     
    #facebook{
      background-color: royalblue;
      border: 1px solid royalblue;
      -webkit-box-shadow: 10px 10px 9px -10px rgba(110,106,110,1);
      -moz-box-shadow: 10px 10px 9px -10px rgba(110,106,110,1);
      box-shadow: 10px 10px 9px -10px rgba(110,106,110,1);
    }

    #google{
      background-color: white;
      border: 1px solid gray;
      -webkit-box-shadow: 10px 10px 9px -10px rgba(110,106,110,1);
      -moz-box-shadow: 10px 10px 9px -10px rgba(110,106,110,1);
      box-shadow: 10px 10px 9px -10px rgba(110,106,110,1);
    }

    #paypal{
      background-color: #30caf0;
      border: 1px solid #30caf0;
      -webkit-box-shadow: 10px 10px 9px -10px rgba(110,106,110,1);
      -moz-box-shadow: 10px 10px 9px -10px rgba(110,106,110,1);
      box-shadow: 10px 10px 9px -10px rgba(110,106,110,1);
    }
    } 
  }
