@import '../asset/theme.scss';

// login
.login-form {
  margin-top: 10%;
  margin-left: 30%;
  padding: 5vw 10vw;
  width: 15%;
  line-height: 3em;
  background-color: rgb(44, 43, 43);
  opacity: 0.8;
  border: 2px solid $flame;
  border-radius: 3px;
  display: flex;
  flex-direction: column;

  .login-title{
    color:$saffron;
    font-family: $body;
    font-size: 20px;
    text-align: left;
    width: 100%;
    margin-top: -20%;
    margin-left: -20%;
  }

  .get-password{
    font-family: $body;
    color: white;
    font-size: 14px;
    text-align: left;
    width: 100%;
    text-decoration: none;
    margin-top: -10%;
    margin-left: -20%;
  }

  Input{
    width: 100%;
    padding: 1vw 3vw 1vw 3vw;
    border: 1px solid $saffron;
    border-radius: 3px;
    margin-top: 2%;
    margin-left: -20%;
  }

  .login-button{
    width: 100%;
    padding: 1vw 3vw 1vw 3vw; 
    background-color: $saffron;
    border: 1px solid $saffron;
    border-radius: 3px;
    margin-top: 10%;
    margin-left: -20%;
    font-family: $body;
    font-size: 14px;
  }

  .register-link{
    font-family: $body;
    font-size: 22px;
    width: 100%;
    text-decoration: none;
    margin-left: 90%;
    margin-top: -25%;
  }

  .alart-message{
    background-color: rgb(44, 43, 43);
    margin-top: 5%;
    margin-left: -20%;
    font-family: $body;
    font-size: 22px;
    width: 100%;
    border: 1px solid $flame;
    border-radius: 3px;
    opacity: 0.5;
  }

}


.socialLogin-container{
  margin-top: -18vh;
  margin-left: -15vw;
  z-index: 3;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}


// my account
.myAccount-container{
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-left: 6%;
  margin-top: 5%;

  .select-type{
    margin-left: 350%;
    margin-top: 500%;
    font-weight: $body;
    color: white;
    font-size: 30px;
  }

.register-form {
  margin-top: 10%;
  margin-left: 10%;
  padding: 5vw 10vw;
  width: 50%;
  line-height: 3em;
  background-color: rgb(44, 43, 43);
  opacity: 0.8;
  border: 2px solid $flame;
  border-radius: 3px;
  
/*
  #facebook{
    position: relative;
    left: 20vw;
    top: 5vh;
  }
  
  
  #google{
    width: 5vw;
  }
  
  #paypal{
    width: 5vw;
    margin-left: -20vw;
  }
  */

  .register-title{
    color:$saffron;
    font-family: $body;
    font-size: 20px;
    text-align: left;
    width: 100%;
    margin-top: -20%;
    margin-left: -20%;
  }

  Input{
    width: 100%;
    padding: 1vw 3vw 1vw 3vw;
    border: 1px solid $saffron;
    border-radius: 3px;
    margin-top: 2%;
    margin-left: -20%;
  }

  .register-button{
    width: 100%;
    padding: 1vw 3vw 1vw 3vw; 
    background-color: $saffron;
    border: 1px solid $saffron;
    border-radius: 3px;
    margin-top: 10%;
    margin-left: -20%;
    font-family: $body;
    font-size: 14px;
  }

  .login-link{
    font-family: $body;
    font-size: 22px;
    width: 100%;
    text-decoration: none;
    margin-left: 150%;
    margin-top: -20%;
  }

  .alart-message{
    background-color: rgb(44, 43, 43);
    margin-top: 5%;
    margin-left: -20%;
    font-family: $body;
    font-size: 22px;
    width: 100%;
    border: 1px solid $flame;
    border-radius: 3px;
    opacity: 0.5;
  }
}
}

.socialRegister-container{
  margin-top: 10%;
  margin-left: 20%;
  padding: 5vw 10vw;
  width: 20%;
  line-height: 3em;
  background-color: rgb(44, 43, 43);
  opacity: 0.8;
  border: 2px solid $flame;
  border-radius: 3px;
  

  .socialRegister-title{
    font-family: $body;
    font-size: 20px;
    color: white;
    margin-top: -2%;
    margin-left: -20%;
    width: 100%;
  }

  .socialRegister-link{

    .social-link{
      width: 100%;
      padding: 1vw 10vw 1vw 10vw;
      margin-top: -2%;
      margin-left: -20%;
      border-radius: 20px;
      font-family: $body;
      text-align: center;

      span{
        margin-right: 10%;
      }
    }
     
    #facebook{
      background-color: royalblue;
      border: 1px solid royalblue;
      -webkit-box-shadow: 10px 10px 9px -10px rgba(110,106,110,1);
      -moz-box-shadow: 10px 10px 9px -10px rgba(110,106,110,1);
      box-shadow: 10px 10px 9px -10px rgba(110,106,110,1);
    }

    #google{
      background-color: white;
      border: 1px solid gray;
      -webkit-box-shadow: 10px 10px 9px -10px rgba(110,106,110,1);
      -moz-box-shadow: 10px 10px 9px -10px rgba(110,106,110,1);
      box-shadow: 10px 10px 9px -10px rgba(110,106,110,1);
    }

    #paypal{
      background-color: #30caf0;
      border: 1px solid #30caf0;
      -webkit-box-shadow: 10px 10px 9px -10px rgba(110,106,110,1);
      -moz-box-shadow: 10px 10px 9px -10px rgba(110,106,110,1);
      box-shadow: 10px 10px 9px -10px rgba(110,106,110,1);
    }
    } 
}

