@import '../asset/theme.scss';

// login
.login-form {
  margin-top: 10%;
  margin-left: 30%;
  padding: 5vw 10vw;
  width: 15%;
  line-height: 3.5em;
  background-color: rgb(44, 43, 43);
  opacity: 0.8;
  border: 2px solid $flame;
  border-radius: 3px;
  display: flex;
  flex-direction: column;

  .login-title{
    color:$saffron;
    font-family: $body;
    font-size: 20px;
    text-align: left;
    width: 100%;
    margin-top: -20%;
    margin-left: -20%;
  }

  .get-password{
    font-family: $body;
    color: white;
    font-size: 1rem;
    text-align: left;
    width: 100%;
    text-decoration: none;
    margin-top: -10%;
    margin-left: -20%;
  }

  Input{
    width: 100%;
    padding: 1vw 2.5vw 1vw 2.5vw;
    border: 1px solid $saffron;
    border-radius: 3px;
    margin-top: 2%;
    margin-left: -20%;
  }

  .login-button{
    width: 100%;
    padding: 1vw 3vw 1vw 3vw; 
    background-color: $saffron;
    border: 1px solid $saffron;
    border-radius: 3px;
    margin-top: 10%;
    margin-left: -20%;
    font-family: $body;
    font-size: 1rem;
  }

  .register-link{
    font-family: $body;
    font-size: 1.5rem;
    width: 100%;
    text-decoration: none;
    margin-left: 90%;
    margin-top: -25%;
  }

  .alart-message{
    background-color: rgb(44, 43, 43);
    margin-top: 5%;
    margin-left: -20%;
    font-family: $body;
    font-size: 22px;
    width: 100%;
    border: 1px solid $flame;
    border-radius: 3px;
    opacity: 0.5;
  }

}


.socialLogin-container{
  margin-top: -18vh;
  margin-left: -15vw;
  z-index: 3;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}


// my account
.myAccount-container{
  display: flex;
  flex-direction: column;
  margin-top: -2.5vh;

.register-form {
  margin-top: 5rem;
  margin-left: 10rem;
  padding: 10vw 10vw;
  padding-left: 7vw;
  padding-right: 14vw;
  width: 12vw;
  height: 27vh;
  line-height: 3em;
  background-color: rgb(44, 43, 43);
  opacity: 0.8;
  border: 2px solid $flame;
  border-radius: 3px;
  display: flex;
  flex-direction: column;

  #facebook{
    position: relative;
    left: 20vw;
    top: 5vh;
  }
  
  #google{
    width: 5vw;
  }
  
  #paypal{
    width: 5vw;
    margin-left: -20vw;
  }

  .register-title{
    color:$saffron;
    font-family: $body;
    font-size: 20px;
    text-align: left;
    width: 100%;
    position: relative;
    top: -20vh;
    margin-left: 0vw;
  }

  Input{
    width: 18vw;
    height: 5vh;
    border: 1px solid $saffron;
    border-radius: 3px;
    position: relative;
    top: -17vh;
  }

  .register-button{
    width: 9vw;
    height: 5vh;
    background-color: $saffron;
    border: 1px solid $saffron;
    border-radius: 3px;
    position: relative;
    top: -12vh;
    font-family: $body;
    position: relative;
    top: -17vh;
  }

  .login-link{
    position: relative;
    font-family: $body;
    font-size: 22px;
    top: -23vh;
    left: 10vw;
    text-decoration: none;
    width: 100%;
  }

  .alart-message{
    background-color: rgb(44, 43, 43);
    position: relative;
    top: -16vh;
    font-family: $body;
    font-size: 22px;
    width: 18vw;
    height: 8vh;
    border: 1px solid $flame;
    border-radius: 3px;
    opacity: 0.5;
  }

}

.select-type{
  position: relative;
  left: 47.5vw;
  top: -40vh;
  font-weight: $body;
  color: white;
  font-size: 30px;
}

.socialRegister-container{
  margin-top: -27.5rem;
  margin-left: 40rem;
  padding: 6vw 10vw;
  padding-left: 8vw;
  padding-right: 14vw;
  width: 12vw;
  height: 27vh;
  line-height: 3em;
  background-color: rgb(44, 43, 43);
  opacity: 0.8;
  border: 2px solid $flame;
  border-radius: 3px;

  .socialRegister-title{
    font-family: $body;
    font-size: 20px;
    color: white;
    position: relative;
    top: -10vh;
    margin-left: 0vw;
    width: 100%;
  }

  .socialRegister-link{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    top: -10vh;
    margin-left: 2vw;

    .social-link{
      width: 18vw;
      height: 6vh;
      margin-top: 3vh;
      margin-left: -2vw;
      border-radius: 20px;
      font-family: $body;
    }
     
    #facebook{
      background-color: royalblue;
      border: 1px solid royalblue;
      -webkit-box-shadow: 10px 10px 9px -10px rgba(110,106,110,1);
      -moz-box-shadow: 10px 10px 9px -10px rgba(110,106,110,1);
      box-shadow: 10px 10px 9px -10px rgba(110,106,110,1);
    }

    #google{
      background-color: white;
      border: 1px solid gray;
      -webkit-box-shadow: 10px 10px 9px -10px rgba(110,106,110,1);
      -moz-box-shadow: 10px 10px 9px -10px rgba(110,106,110,1);
      box-shadow: 10px 10px 9px -10px rgba(110,106,110,1);
    }

    #paypal{
      background-color: #30caf0;
      border: 1px solid #30caf0;
      -webkit-box-shadow: 10px 10px 9px -10px rgba(110,106,110,1);
      -moz-box-shadow: 10px 10px 9px -10px rgba(110,106,110,1);
      box-shadow: 10px 10px 9px -10px rgba(110,106,110,1);
    }
    } 
  }
}

